// ユーザー詳細画面の背景画像の高さ
$bgImgHeight: 100vh * 0.5 * 0.45;
// #{$bgImgHeight}

.user-info {
    // height: calc(100vh * 0.5);
    position: relative;
    border-bottom: solid 1px #eeeeee;

    &__background {
        height: calc(#{$bgImgHeight});
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__image {
        position: absolute;
        top: calc(#{$bgImgHeight} - (#{$bgImgHeight} * 0.7) * 0.5);
        left: 20px;
        z-index: 1;
        img {
            border: #fff 5px solid;
            object-fit: cover;
            border-radius: 50%;
            height: calc(#{$bgImgHeight} * 0.7);
            width: calc(#{$bgImgHeight} * 0.7);
        }
    }

    &__contents {
        padding: 20px;
    }

    &__contents-edit {
        height: calc((#{$bgImgHeight} * 0.7) * 0.4);
        padding: calc((#{$bgImgHeight} * 0.7) * 0.4 * 0.2);
        margin-bottom: 10px;

        button {
            position: relative;
            margin-right: 10px;

            a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__contents-name {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: bold;
    }

    &__contents-introduction {
        margin-bottom: 15px;
    }

    &__contents-others {
        margin-bottom: 15px;
        color: rgb(101, 119, 134);

        i {
            margin-right: 7px;
        }

        span {
            margin-right: 15px;
        }
    }

    &__contents-relationship {

        span {
            margin-right: 15px;
        }
    }
}
