<!DOCTYPE HTML>
<html layout:decorate="~{/users/show}">

<head>
    <title>ユーザー登録</title>
    <!-- ページアクセス時に自動でモーダルの起動ボタンをクリックする設定 -->
    <script>
        $(document).ready(function () {
            $("#edit").trigger('click');
        });
    </script>
</head>

<body>
    <div layout:fragment="edit">
        <!-- モーダルウィンドウの設定 -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="user-edit-form" th:object="${userUpdateForm}" th:action="@{|/users/*{id}|}"
                        th:method="put" enctype="multipart/form-data">
                        <div class="user-edit-form__header modal-header">
                            <button onclick="history.back()" type="button" class="close ml-0" data-dismiss="modal"
                                aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title ml-auto mr-auto" id="exampleModalLongTitle">プロフィールを編集</h4>
                            <input type="submit" value="保存" class="btn btn-primary rounded-pill">
                        </div>
                        <div class="user-edit-form__body modal-body">
                            <!-- 背景画像 -->
                            <div class="user-info__background row">
                                <input type="file" th:field="*{bgImgFile}">
                                <input type="hidden" th:field="*{backgroundName}">
                                <img th:if="*{backgroundName != null}"
                                    th:src="@{|/images/uploads/*{backgroundName}.jpg|}">
                                <img th:if="*{backgroundName == null}" th:src="@{/images/no_background.jpg}">
                            </div>
                            <!-- プロフィール画像 -->
                            <div class="user-info__image">
                                <input type="file" th:field="*{profImgFile}">
                                <input type="hidden" th:field="*{profileName}">
                                <img th:if="*{profileName != null}" th:src="@{|/images/uploads/*{profileName}.jpg|}">
                                <img th:if="*{profileName == null}" th:src="@{/images/no_image.jpg}">
                            </div>
                            <div class="user-edit-form__body__contents">
                                <!-- 名前 -->
                                <div class="user-edit-form__body__contents-name mb-3" style="margin-top: 100px;">
                                    <span class="badge badge-danger">必須</span>
                                    <label for="user_name">名前</label>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    <input class="form-control" type="text" th:field="*{name}">
                                </div>
                                <!-- 生年月日 -->
                                <div class="user-edit-form__body__contents-birthday form-inline mb-3">
                                    <span class="badge badge-danger">必須</span>
                                    <label for="user_birthday">生年月日</label>
                                    <select class="form-control ml-1" th:field="*{birthY}">
                                        <option th:each="i : ${#numbers.sequence(1940, 2010)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>

                                    <select class="form-control ml-1" th:field="*{birthM}">
                                        <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>

                                    <select class="form-control ml-1" th:field="*{birthD}">
                                        <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}">
                                        </option>
                                    </select>

                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('birthY')}" th:errors="*{birthY}"></span>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('birthM')}" th:errors="*{birthM}"></span>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('birthD')}" th:errors="*{birthD}"></span>
                                </div>
                                <!-- Email -->
                                <div class="user-edit-form__body__contents-email mb-3">
                                    <span class="badge badge-danger">必須</span>
                                    <label for="user_email">Eメール</label>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    <input class="form-control" type="text" th:field="*{email}">
                                </div>
                                <!-- 自己紹介 -->
                                <div class="user-edit-form__body__contents-introduction mb-3">
                                    <span class="badge badge-success">任意</span>
                                    <label for="user_introduction">自己紹介</label>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('introduction')}" th:errors="*{introduction}"></span>
                                    <input class="form-control" type="text" th:field="*{introduction}">
                                </div>
                                <!-- Email -->
                                <div class="user-edit-form__body__contents-address mb-3">
                                    <span class="badge badge-success">任意</span>
                                    <label for="user_address">位置情報</label>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                                    <input class="form-control" type="text" th:field="*{address}">
                                </div>
                                <!-- WEBサイト -->
                                <div class="user-edit-form__body__contents-webSite">
                                    <span class="badge badge-success">任意</span>
                                    <label for="user_webSite">WEBサイト</label>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('webSite')}" th:errors="*{webSite}"></span>
                                    <input class="form-control" type="text" th:field="*{webSite}">
                                </div>
                                <!-- Status -->
                                <div class="user-edit-form__body__contents-status">
                                    <label for="user_status"></label>
                                    <span class="hasErrors ml-2" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                                    <input class="form-control" type="hidden" th:field="*{status}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 切り替えボタンの設定 -->
        <button id="edit" type="button" style="display: none" data-toggle="modal" data-target="#exampleModalLong"></button>
    </div>
</body>

</html>