<!DOCTYPE HTML>
<html layout:decorate="~{/shared/layout}">

<head>
    <title>ユーザー一覧</title>
    <link rel="stylesheet" th:href="@{/css/users/user-header.css}">
    <link rel="stylesheet" th:href="@{/css/users/user-list.css}">
</head>

<body>
    <!-- 検索窓 -->
    <div class="user-header row pt-2 pb-2" layout:fragment="main-header">
        <form class="form-inline ml-auto mr-auto">
            <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0 rounded-pill" type="submit">Search</button>
        </form>
    </div>
    <!--  ユーザーリスト -->
    <div class="user-list row" layout:fragment="main-contents" th:each="user : ${users}" th:object="${user}">
        <!-- プロフィール画像 -->
        <div class="user-list__user-image col-2">
            <span th:text="*{profileImage}"></span>
        </div>
        <div class="user-list__user-contents col-10 pl-5">
            <div class="user-list__user-header row">
                <!-- ユーザー名前 -->
                <div class="user-list__user-name">
                    <span th:text="*{name}"></span>
                </div>
                <!-- フォローボタン -->
                <div class="user-list__user-follow ml-auto">
                    <button class="user-list__user-follow-button btn btn-outline-primary rounded-pill">フォロー</button>
                </div>
            </div>
            <div class="user-list__user-footer row">
                <!-- ユーザー自己紹介文 -->
                <div class="user-list__user-introduction">
                    <span th:text="*{introduction}"></span>
                </div>
            </div>
        </div>
        <!-- ユーザー詳細ページへのリンク -->
        <a th:href="@{|/users/*{id}|}"></a>
    </div>
</body>

</html>