<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ユーザー登録</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form th:object="${userForm}" th:action="@{/users}" th:method="post">
        <table>
            <tr>
                <th>名前</th>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <th>生年月日</th>
                <td>
                    <select th:field="*{birthY}">
                        <option th:each="i : ${#numbers.sequence(1940, 2010)}" th:value="${i}" th:text="${i}">
                        </option>
                    </select>

                    <select th:field="*{birthM}">
                        <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}">
                        </option>
                    </select>
                    <select th:field="*{birthD}">
                        <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <input type="text" th:field="*{email}">
                </td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>
                    <input type="text" th:field="*{encryptedPassword}">
                </td>
            </tr>
        </table>
        <input type="submit" value="登録">
        <a th:href="@{/users}">一覧画面へ戻る</a>
    </form>
</body>

</html>