<!DOCTYPE HTML>
<html layout:decorate="~{/shared/layout}">

<head>
    <title>ユーザー詳細</title>
    <link rel="stylesheet" th:href="@{/css/users/user-header.css}">
    <link rel="stylesheet" th:href="@{/css/users/user-info.css}">
</head>

<body>
    <!-- 戻るボタンとユーザー情報 -->
    <div class="user-header row pt-1 pb-1" layout:fragment="main-header" th:object="${user}">
        <!-- 戻るボタン -->
        <div class="user-header__back-button col-2 pt-1">
            <div class="btn" onclick="history.back()">
                <span>←</i></span>
            </div>
        </div>
        <!-- ユーザー情報 -->
        <div class="user-header__user col-10">
            <span th:text="*{email}"></span><br>
            <span th:text="*{name}"></span>
        </div>
    </div>

    <div layout:fragment="main-contents">
        <!-- ユーザー情報 -->
        <div class="user-info row" th:object="${user}">
            <div class="col-12">
                <!-- 背景画像 -->
                <div class="user-info__background row">
                    <span th:text="*{backgroundImage}"></span>
                </div>
                <!-- プロフィール画像 -->
                <div class="user-info__image">
                    <span th:text="*{profileImage}"></span>
                </div>
                <div class="user-info__contents row">
                    <div class="col-12">
                        <!-- 編集画面へのリンク -->
                        <div class="user-info__contents-edit row justify-content-end">
                            <!-- ログインしている場合のみ表示 -->
                            <th:block sec:authorize="isAuthenticated()">
                                <!-- ユーザーページがログインユーザーのページかどうか -->
                                <th:block th:switch="${user.id == #authentication.principal.user.id}">
                                    <!-- ログインユーザーのページの場合 -->
                                    <th:block th:case="true">
                                        <!-- 編集ボタン -->
                                        <button
                                            class="user-info__user-edit-button btn btn-outline-primary rounded-pill">
                                            <span>プロフィールを編集</span>
                                            <a th:href="@{|/users/*{id}/edit|}"></a>
                                        </button>
                                    </th:block>
                                    <!-- ログインユーザーのページでない場合 -->
                                    <th:block th:case="false">
                                        <!-- もっと見るボタン -->
                                        <button
                                            class="user-info__user-more-button btn btn-outline-primary rounded-pill"><i
                                                class="fas fa-ellipsis-h"></i></button>
                                        <!-- DMボタン -->
                                        <button
                                            class="user-info__user-message-button btn btn-outline-primary rounded-pill"><i
                                                class="fas fa-envelope"></i></button>
                                        <!-- フォローボタン -->
                                        <button
                                            class="user-info__user-follow-button btn btn-outline-primary rounded-pill">フォロー</button>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <!-- ログインしていない場合のみ表示 -->
                            <th:block sec:authorize="!isAuthenticated()">
                                <!-- フォローボタン -->
                                <button
                                    class="user-info__user-follow-button btn btn-outline-primary rounded-pill">フォロー</button>
                            </th:block>
                        </div>
                        <!-- 名前 -->
                        <div class="user-info__contents-name row">
                            <span th:text="*{name}"></span>
                        </div>
                        <!-- 自己紹介文 -->
                        <div class="user-info__contents-introduction row" th:if="*{introduction != ''}">
                            <span th:text="*{introduction}"></span>
                        </div>
                        <div class="user-info__contents-others row">
                            <!-- 現在位置 -->
                            <i class="fas fa-map-marker-alt"></i><span th:text="*{address}"></span>
                            <!-- WEBサイト -->
                            <i class="fas fa-link"></i><span th:text="*{webSite}"></span>
                            <!-- 誕生日 -->
                            <i class="fas fa-birthday-cake"></i>誕生日:
                            <span th:text="*{#temporals.format(birthday, 'yyyy年MM月dd日')}"></span>
                            <!-- 登録日 -->
                            <span th:text="*{#temporals.format(createdAt, 'yyy年MM月dd')}"></span>
                            からJavatterを利用しています
                        </div>
                        <!-- フォロー・フォロワー -->
                        <div class="user-info__contents-relationship row">
                            <span>120フォロー中</span>
                            <span>42フォロワー</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ユーザーのツイートリスト -->
        <div class="user-tweet-list"></div>
        <div layout:fragment="edit"></div>
    </div>
</body>

</html>